ion-content{
    //font-family: hp556;
}
.tope span {
    width: 100%;
    position: absolute;
    background-color: #aaafb4;
    height: 26px;
    top: 96px;
    z-index: 1;
}
.negrita{
    font-family: hp556;
}
.regresar ion-img{
    margin-top: 5%;
    margin-left: 5%;
    width: 2.3em;
    height: 2.3em;
}   
.logosepro ion-img {
    position: absolute;
    top: 18px;
    left: auto;
    z-index: 2;
}
div.logosepro {
    display: flex;
    justify-content: center;
}
.imagen {
    position:absolute;
    width:5rem;
    height:5rem;
    border-radius: 50%;
    margin:auto;
    top: 31%; left: 0; bottom: 10; right: 0;
}
.titulo{
    font-family: hp556;
    
    text-align:center;
    position: relative;
    margin-top: 110px;
 
    margin-left:15% ;
    margin-right:15% ;  
}
.titulo ion-label{
    font-size: 2vm;
    text-align:center;
    border: 3px solid #4A4A4A;
    display: block;
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
    padding: 10px;
    width: 100%;    
    height: 2.5rem;
    border-radius: 60px ;
    background-position: center center;

    font-size: 120%;
}

.datos{
    position:absolute;
    top: 43%; left: 18%; bottom: 10; right: 18%;
    

}
.datos ion-item{
    position:absolute;
    padding:0px !important;
    margin: 0px !important;
}
.datos{
    padding-top:0px !important;
    padding-bottom:0px !important;
  }
  .botones{
    position:absolute;
    top: 90%; left: 20%; bottom: 10; right: 20%;
    display: flex;
    justify-content:space-between;

  }

.confirmar-servicio button{
    text-align:center;
    margin-left: 0rem;
    width: 6rem;
    height: 2.3rem;
    border-radius: 60px ;
    background-color:#38bd4e;
    color:#ffffff;
  }
  .cancelar-servicio button{
      text-align:center;
      margin-left: 0rem;
      width: 6rem;
      height: 2.3rem;
      border-radius: 60px ;
      background-color:#c43834;
      color:#ffffff;
    }
.ruta{
    display: flex;
    position:absolute;
    top: 75%; left: 35%; bottom: 10; right: 20%;
    background-color: #ffffff;
    

}
.metodo-pago{
    position:absolute;
    top: 78%; left: 35%; bottom: 10; right: 20%;
    background-color: #ffffff;

}
.botonruta{
    margin-left: auto;
    margin-right: auto;
    display: block;

}