<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/img/seproamerica_logo.jfif" alt="logo" width="150px" height="75px">
  <div class="container">
    <a class="navbar-brand btn btn-light" href="/home">SERVICIOS</a>
    <a class="navbar-brand btn btn-light" href="/team">TEAM</a>
    <a class="navbar-brand btn btn-light" href="/recursos/vehiculos">RECURSOS</a>
    <a class="navbar-brand btn btn-light" href="/home">REPORTES</a>
    <button class="navbar-brand btn btn-light" (click)="logOut()"><i class="fas fa-power-off"></i></button>
  </div>
</nav>
