<ion-header>
  
</ion-header>

<ion-content>
  <div class="datos2">
    <ion-list>
        
        <ion-item>  
          <ion-input></ion-input>
        </ion-item>
        
      
      
    </ion-list>
  </div>
  <div class="titulo">
    <h1>CUSTODIA ARMADA</h1>
    <div class="logo">
      <ion-img style="width: 100px; height: 100px;" src="assets/img/custodialogo.png"></ion-img>
    </div>
  </div>
  <div class="datos">
    <ion-list>
      <IonItem>
        <h8>Fecha de Inicio</h8>
        <div class="seleccion">
          <ion-item >
            <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
            <ion-icon name="calendar-clear-outline" ></ion-icon>
          </ion-item>
        </div>
      </IonItem>
      <IonItem>
        <h8>Hora de Inicio</h8>
        <div class="seleccion">
          <ion-item >
            <ion-datetime displayFormat="hh-mm-A"></ion-datetime>
            <ion-icon name="time-outline" ></ion-icon>
          </ion-item>
          
        </div>
      </IonItem>
      
    </ion-list>
  </div>
  <div class="mapa">
   
      <div class="ubicacion">
        <h6>Ubicación de origen</h6>
        <button ion-button color="secondary">Abrir mapa</button>
      </div>
      <div class="ubicacion"> 
        <h6>Ubicación de destino</h6>
        <button ion-button color="secondary">Abrir mapa</button>
      </div>  
  </div>
  <div class="cantidad-vehiculos">
      <h7>Número de vehículos</h7>
      <div class="cantidad">
        <ion-icon class="decremento" name="remove-circle-outline" (click)="decrement()"></ion-icon>
        <ion-label> {{currentNumber}}</ion-label>
         
        <ion-icon class="aumento" name="add-circle-outline" (click)="increment()"></ion-icon>
      </div>
  </div>
  <div class="check-candado">
    <ion-checkbox checked="true"></ion-checkbox>
    <ion-label>Incluir candado satelital</ion-label>
  </div>
  <div class="solicitar-servicio">
    <button ion-button color="secondary">Solicitar Servicio</button>
  </div>
  <div class="cancelar-servicio">
    <button ion-button color="secondary" (click)="cancelar()">Cancelar</button>
  </div>
</ion-content>
