<!--
<mat-form-field appearance="fill">
  <mat-label>Seleccione un año</mat-label>
  <input
    matInput
    [matDatepicker]="yearPicker"
    [formControl]="_inputCtrl"
    [attr.disabled]="true"
    [min]="minDate"
    [max]="maxDate"
  />
  <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>
  <mat-datepicker
    #yearPicker
    class="cdk-overlay-container"
    startView="multi-year"
    (yearSelected)="_yearSelectedHandler($event, yearPicker)"
    panelClass="yPckr"
    disabled="false"
  >
  </mat-datepicker>
</mat-form-field>

<!--
<mat-form-field appearance="fill">
  <mat-label>Seleccione un año</mat-label>
  <input
    matInput
    [matDatepicker]="yearPicker"
    [formControl]="date"
    [attr.disabled]="true"
    [min]="minDate"
    [max]="maxDate"
  />
  <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>
  <mat-datepicker
    #yearPicker
    class="cdk-overlay-container"
    startView="multi-year"
    (yearSelected)="chosenYearHandler($event, yearPicker)"
    panelClass="yPckr"
    disabled="false"
  >
  </mat-datepicker>
</mat-form-field>
-->
