hr.solid {
  border-top: 3px solid #bbb;
}

.yPckr .mat-calendar-period-button {
  display: none;
}

a:not([href]) {
  color: red;
  text-decoration: underline;
}

input.fileInputDN {
  display: none;
}

a.pd-afile {
  padding: 0 1.2891rem;
}

a:not([href]).ffile {
  color: blue;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

li.nav-item {
  list-style-type: none;
}

.w50px {
  width: 50px;
}

.w100px {
  width: 100px;
}

.w150px {
  width: 150px;
}

.w200px {
  width: 200px;
}

.w250px {
  width: 250px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tb-custom-style {
  font-size: small;
  text-align: center;
}

div.bg-resources {
  background-color: lightgray;
}

th {
  color: red;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.8rem;
}

table > thead > tr > th {
  border: 0 !important;
}

tbody tr {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

tbody > tr > td.w100px,
tbody > tr > td.w150px {
  background-color: white;
}
