hr.solid {
  border-top: 3px solid #bbb;
}

.yPckr .mat-calendar-period-button {
  display: none;
}

a:not([href]){
  color: red;
  text-decoration: underline;
}

input.fileInputDN {
  display: none;
}

a.pd-afile {
  padding: 0 1.2891rem;
}

a:not([href]).ffile{
  color: blue;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.w50px {
  width: 50px;
}

.w100px {
  width: 100px;
}

.w150px {
  width: 150px;
}

.w200px {
  width: 200px;
}

.w250px {
  width: 250px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
