hr.solid {
  border-top: 3px solid #bbb;
}

a:hover {
  cursor: pointer;
}

.w50px {
  width: 50px;
}

.w100px {
  width: 100px;
}

.w150px {
  width: 150px;
}

.w200px {
  width: 200px;
}

.w250px {
  width: 250px;
}
