ion-content{ 
    --ion-background-color:#888484; 
}
ion-header{ 
    --ion-background-color:#d9dbd9; 
}
ion-menu-toggle ion-img{
    text-align: center;
    width:35%;
    margin-top: 4%;
}
ion-menu-toggle{
    text-align: center;

}
ion-item{
    color:#ffffff;
}
p{
    color:#ffffff;

}
