ion-content{ 
    --ion-background-color:#888484; 
}
ion-header{ 
    --ion-background-color:#d9dbd9; 
}
ion-menu-toggle ion-img{
    text-align: center;
    width:35%;
    margin-top: 4%;
}
ion-toolbar{
    text-align: center;
    width:35%;
    margin-top: 4%;
}
ion-menu-toggle{
    text-align: center;

}
ion-item{
    color:#ffffff;
}
p{
    color:#ffffff;

}
.opciones ion-img{
    //mask-size: contain;
//mask-position: 50% 50%;
//mask-repeat: no-repeat;
width: 2.3em;
height: 2.3em;
padding-bottom: 3%;
text-align: center;
}
.opciones ion-label{
    padding-left: 7%;
}