<router-recursos></router-recursos>

<div class="row align-items-center">
  <tr>
    <th style="width: 150px">Marca</th>
    <th style="width: 150px">Tipo</th>
    <th style="width: 150px">Color</th>
    <th style="width: 200px">
      <!--<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">AGREGAR</button>-->
    </th>
  </tr>

  <!--<tr *ngFor="let candadosSatelital of candadosSatelitales">
      <td style="width:150px">
          {{ candadosSatelital.marca }}
      </td>
      <td style="width:150px">
          {{ candadosSatelital.tipo }}
      </td>
      <td style="width:150px">
          {{ candadosSatelital.color }}
      </td>
  </tr>-->
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">AGREGAR CANDADO SATELITAL</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group m-form__group">
      <label for="Marca">Marca</label>
      <!--<select name="currentVehiculo.marca" [(ngModel)]="currentCandadoSatelital.marca" class="form-control" >
        <option value="GeoLock">GeoLock</option>
        <!--<option value=""></option>
      </select>-->
    </div>

    <label for="Num">Numeración</label>
    <hr class="solid">

    <div class="form-group m-form__group">
      <label for="Tipo">Tipo</label>
      <!--<select name="currentVehiculo.tipo" [(ngModel)]="currentCandadoSatelital.tipo" class="form-control" >
        <option value="H14">H14</option>
        <!--<option value=""></option>
      </select>-->
    </div>
    <div class="form-group m-form__group">
      <label for="Color">Color</label>
      <!--<select name="currentVehiculo.color" [(ngModel)]="currentCandadoSatelital.color" class="form-control" >
        <option value="Rojo">Rojo</option>
        <option value="Negro">Negro</option>
        <option value="Blanco">Blanco</option>
        <option value="Azul">Azul</option>
        <!--<option value=""></option>
      </select>-->
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close(currentCandadoSatelital)">AGREGAR</button>-->
  </div>
</ng-template>
