<app-header></app-header>
<nav class="navbar navbar-expand bg-light">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5">
    <li class="nav-item mx-2">
      <a routerLink="/recursos/vehiculos" class="btn btn-light">Vehículos</a>
    </li>
    <li class="nav-item mx-2">
      <a routerLink="/recursos/armas" class="btn btn-light">Armamento</a>
    </li>
    <li class="nav-item mx-2">
      <a routerLink="/recursos/candados_satelitales" class="btn btn-light"
        >Candados Satelitales</a
      >
    </li>
    <li class="nav-item mx-2">
      <a routerLink="/recursos/celulares" class="btn btn-light">Celulares</a>
    </li>
  </ul>
</nav>
<app-footer></app-footer>
