<app-header></app-header>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <li class="nav-item">
      <a routerLink="/recursos/vehiculos" class="btn btn-light">VEHICULOS</a>
    </li>
    <li class="nav-item">
      <a routerLink="/recursos/vehiculos" class="btn btn-light">ARMAMENTO</a>
    </li>
    <li class="nav-item">
      <a routerLink="/recursos/candados_satelitales" class="btn btn-light">CANDADOS SATELITALES</a>
    </li>
    <li class="nav-item">
      <a routerLink="/recursos/vehiculos" class="btn btn-light">CELULARES</a>
    </li>
  </div>
</nav>
<app-footer></app-footer>
