<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/home/recursos/vehiculos" class="nav-link">VEHICULOS</a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/" class="nav-link">ARMAMENTO</a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/recursos/candados_satelitales" class="nav-link">CANDADOS SATELITALES</a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/" class="nav-link">CELULARES</a>
    </li>
  </div>
</nav>
