<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
    <!--<ion-img class="logo" src="../../assets/Iconos/Logo seproamerica transparente.png"></ion-img>-->

</ion-header>

<ion-content>
  <!--<div class="container">


    <div class="titulo-registro">
        <h1 class="justify-content-md-center">Registro</h1>
    </div>
  </div>
-->
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegistro(validations_form.value)">
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  formControlName="email" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Número de Celular</ion-label>
      <ion-input type="number" formControlName="phone" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.phone">
        <div class="error-message" maxlength="10"
          *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-row>
      <ion-col>
        <ion-checkbox color="secondary"></ion-checkbox>
        <label  position="floating"> He leído y acepto las políticas de privacidad</label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Registrarse</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
