ion-content{
  --background: none;
  background-image: url("../../assets/img/app\ sepro\ vectores-24.png");
}
ion-button{
  --background: none;
  background-color: #3da630;
  width: 15rem;
  border-radius: 25rem;
}
.logo{
  img{
    width: 7.5rem;
    height: 5rem;
  }
}
