<ion-app>

  <ion-content class="ion-padding">
    <ion-row class="row logo">
      <div>
        <img src="../../assets/app sepro vectores-30.png" class="img-logo">
      </div>
    </ion-row>
    <ion-row class="row">
      <div>
        <img src="../../assets/img/app sepro vectores-07.png" class="img-logo">
      </div>
    </ion-row>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegistro(validations_form.value)">
      <ion-item lines="full">
        <ion-label position="floating">Nombres</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"  formControlName="email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item lines="full">
        <ion-label position="floating">Número de Celular</ion-label>
        <ion-input type="number" formControlName="phone" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message" maxlength="10"
            *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-checkbox color="secondary"></ion-checkbox>
          <label  position="floating"> He leído y acepto las políticas de privacidad</label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Registrarse</ion-button>
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
        </ion-col>
      </ion-row>
    </form>

  </ion-content>
</ion-app>
