<router-recursos></router-recursos>

<div class="p-4 bg-resources">
  <table class="table tb-custom-style">
    <thead>
      <tr>
        <th class="w100px">MARCA</th>
        <th class="w100px">TIPO</th>
        <th class="w100px">COLOR</th>
        <th class="w100px">CALIBRE</th>
        <th class="w200px">
          <button
            class="btn btn-success text-white w-75"
            (click)="openCM(createModal)"
          >
            AGREGAR
          </button>
        </th>
      </tr>
    </thead>
    <tbody [hidden]="getArmas().length == 0">
      <tr *ngFor="let arma of getArmas()">
        <td class="w100px">
          {{ arma.nombreMarca }}
        </td>
        <td class="w100px">
          {{ arma.nombreTipo }}
        </td>
        <td class="w100px">
          {{ arma.nombreColor }}
        </td>
        <td class="w100px">
          {{ arma.nombreCalibre }}
        </td>
        <td class="w200px">
          <a
            (click)="setActiveArma(arma); openDM(deleteModal)"
            class="pe-auto link-danger px-3"
            >ELIMINAR</a
          >
          <button
            class="btn bg-primary text-white w-50"
            (click)="setActiveArma(arma); openVM(viewModal)"
          >
            DETALLES
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="position-relative p-2" [hidden]="getArmas().length != 0">
    <div class="position-absolute top-50 start-50 translate-middle">
      <span>No hay armas</span>
    </div>
  </div>
</div>

<ng-template #createModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Agregar Arma</h2>
    <button
      type="button"
      class="btn-close mx-3"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      class="form-horizontal"
      [formGroup]="form"
      (ngSubmit)="modal.close(getArma)"
      novalidate
    >
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-group pb-3">
                    <label for="Marca">Marca</label>
                    <select
                      id="marca"
                      name="marca"
                      class="form-control"
                      formControlName="marca"
                      required
                    >
                      <option
                        [value]="marca.id"
                        *ngFor="let marca of getMarcasArma()"
                      >
                        {{ marca.nombre }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Tipo">Tipo</label>
                    <select
                      id="tipo"
                      name="tipo"
                      class="form-control"
                      formControlName="tipo"
                      required
                    >
                      <option
                        [value]="tipo.id"
                        *ngFor="let tipo of getTiposArma()"
                      >
                        {{ tipo.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group pb-3">
                    <label for="Calibre">Calibre</label>
                    <select
                      id="calibre"
                      name="calibre"
                      class="form-control"
                      formControlName="calibre"
                    >
                      <option
                        [value]="calibre.id"
                        *ngFor="let calibre of getCalibresArma()"
                      >
                        {{ calibre.nombre }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Color">Color</label>
                    <select
                      id="color"
                      name="color"
                      class="form-control"
                      formControlName="color"
                      required
                    >
                      <option
                        [value]="color.id"
                        *ngFor="let color of getColores()"
                      >
                        {{ color.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Observaciones" class="pb-3">Observaciones</label>
              <textarea
                class="form-control"
                formControlName="observaciones"
                name="observaciones"
                id="observaciones"
                rows="5"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <!--<input type="file">  guardarRutaFoto() -->
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end py-3">
        <button type="submit" class="btn btn-outline-success">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Editar Arma</h2>
    <button
      type="button"
      class="btn-close mx-3"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      class="form-horizontal"
      [formGroup]="form"
      (ngSubmit)="modal.close(getArma)"
      novalidate
    >
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-group pb-3">
                    <label for="Marca">Marca</label>
                    <select
                      id="marca"
                      name="marca"
                      class="form-control"
                      formControlName="marca"
                      required
                    >
                      <option
                        [value]="marca.id"
                        *ngFor="let marca of getMarcasArma()"
                      >
                        {{ marca.nombre }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Tipo">Tipo</label>
                    <select
                      id="tipo"
                      name="tipo"
                      class="form-control"
                      formControlName="tipo"
                      required
                    >
                      <option
                        [value]="tipo.id"
                        *ngFor="let tipo of getTiposArma()"
                      >
                        {{ tipo.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group pb-3">
                    <label for="Calibre">Calibre</label>
                    <select
                      id="calibre"
                      name="calibre"
                      class="form-control"
                      formControlName="calibre"
                    >
                      <option
                        [value]="calibre.id"
                        *ngFor="let calibre of getCalibresArma()"
                      >
                        {{ calibre.nombre }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Color">Color</label>
                    <select
                      id="color"
                      name="color"
                      class="form-control"
                      formControlName="color"
                      required
                    >
                      <option
                        [value]="color.id"
                        *ngFor="let color of getColores()"
                      >
                        {{ color.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Observaciones" class="pb-3">Observaciones</label>
              <textarea
                class="form-control"
                formControlName="observaciones"
                name="observaciones"
                id="observaciones"
                rows="5"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <!--<input type="file">  guardarRutaFoto() -->
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end py-3">
        <button type="submit" class="btn btn-outline-success">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <h4 class="modal-title pt-3 pb-5" id="modal-basic-title">
      ELIMINAR RECURSO
    </h4>
    <label class="text-info pb-4">¿Está seguro de eliminar el recurso?</label>
    <div class="form-group pb-5">
      <label for="Observaciones" class="pb-3">Observaciones</label>
      <textarea
        class="form-control resized"
        name="observaciones"
        id="observaciones"
        [(ngModel)]="currentArma.observaciones"
        required
      ></textarea>
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-sm btn-danger w-50"
        (click)="modal.close(currentArma)"
      >
        Eliminar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #viewModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Detalles del Arma</h2>
    <button
      type="button"
      class="btn-close mx-3"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="form-group">
            <!--
            <img src="#" alt="Arma" />
            {{ currentArma.ruta_foto }}
            -->
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="Marca" class="text-secondary">Marca:</label>
            <label for="Marca" class="px-2">{{
              currentArma.nombreMarca
            }}</label>
          </div>
          <div class="form-group">
            <label for="Tipo" class="text-secondary">Tipo:</label>
            <label for="Tipo" class="px-2">{{ currentArma.nombreTipo }}</label>
          </div>
          <div class="form-group">
            <label for="Color" class="text-secondary">Color:</label>
            <label for="Color" class="px-2">{{
              currentArma.nombreColor
            }}</label>
          </div>
          <div class="form-group">
            <label for="Calibre" class="text-secondary">Calibre:</label>
            <label for="ColoCalibrer" class="px-2">{{
              currentArma.nombreCalibre
            }}</label>
          </div>
          <div class="form-group">
            <label for="Observaciones" class="text-secondary"
              >Observaciones:</label
            >
            <label for="Observaciones" class="px-2">{{
              currentArma.observaciones
            }}</label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close(); openEM(editModal)"
        >
          Editar <i class="fas fa-edit"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
