<ion-header>
  
</ion-header>

<ion-content>
  <div class="tope">
    <span>
      
    </span>
    
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png"></ion-img>
    </div>



    
  </div>
  <span class="circle-grey">
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
</div>
  </span>



	<div class="datos2">
    <ion-list>
      <ion-label>Nombres</ion-label>
        <ion-item class="nombres">  
          <ion-input></ion-input>
        </ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-item class="apellidos">  
          <ion-input></ion-input>
        </ion-item>
        <ion-label>Cédula de identidad</ion-label>
        <ion-item class="cedula">  
          <ion-input></ion-input>
        </ion-item>

        <ion-label>Número de celular</ion-label>
        <ion-item class="celular">  
          <ion-input></ion-input>
        </ion-item>
        <ion-label>Fecha</ion-label>
        <ion-item class="fecha">  
          <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
            
        </ion-item>

        <ion-label>Dirección</ion-label>
        <ion-item class="direccion">  
          <ion-input></ion-input>
        </ion-item>
        <ion-label>Correo electrónico</ion-label>
        <ion-item class="correo">  
          <ion-input></ion-input>
        </ion-item>

    </ion-list>
    </div>


  <div class="botones">
      <button ion-button color="secondary">Guardar</button>
      <button ion-button color="secondary">Cancelar</button>
    </div>


</ion-content>

