.datos2{
    margin: 1rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 2px ;
    margin-top: 30%;
    justify-items:center;
    justify-content: space-between;
}

.tope span{
    width:100%;
   position:absolute;
   left:0;
   background-color:#aaafb4;
   height:26px;
   top:80px;
}

.logosepro ion-img{
    padding-left: 0px;
    display:block;
    position:absolute;
    margin-left: 100px;
}

div h4{
    font-weight: bold;
    color:#912020;
    text-align: center;
    margin-top: 40%;
}

span.circle-grey ion-img{
    position:absolute;
    width:20%;
    //height:5rem;
    border-radius: 50%;
    margin:auto;
    top: 28%; left: 0; bottom: 10; right: 0;
}

.botones button{
    text-align:center;
    width: 10rem;
    height: 2.3rem;
    border-radius: 60px ;
    background-color:#3887bd;
    color:#ffffff;
    //margin-right: 5%;
    justify-content: space-between;

  }

.botones{
    position: relative;
    text-align:center;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    
}


.datos2 ion-item{
    display: flex;
    text-align: center;
    border-radius: 60px ;
    width: auto;
    height: 2rem;
    --border-color: #3a75af;
      --ion-background-color: #e1e6eb;
  
}


.logo{
    position: relative;
   margin:auto;
    
}

.datos2 ion-chip{
    width: 95%;
}