ion-content{ 
    --ion-background-color:#d9dbd9; 
}

.titulo h1{
  margin: 1rem;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  border: 2px ;
  text-align: center;
  font-weight: bold;
  color:#0000003f;
}
.logo ion-img{
   display:block;
   margin:auto;
}
.datos{
  margin: 1rem;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  border: 2px ;
  
}

.seleccion ion-item{
  --ion-background-color:#ffffff;
 
  display: flex;
  text-align: center;
  border-radius: 60px ;
  width: auto;
  height: 2rem;
}
.seleccion ion-icon{
    display: flex;
    text-align: center;
}

//top rigth bottom left
.mapa{
    margin: 0.5rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 0px ;
   
}


.solicitar-servicio{
    margin: 0rem;
    padding: 1.5rem 3.5rem 0.5rem 3.5rem;
    border: 0px ;
}
.ubicacion{
    display: flex;
}
.ubicacion h6{
  margin: 0rem;
  padding: 0.5rem 2rem 0.5rem 0rem;
  border: 0px ;
}

.ubicacion button{
  text-align:center;
  margin-left: 0rem;
  width: 10rem;
  height: 2.3rem;
  border-radius: 60px ;
  background-color:#3887bd;
  color:#ffffff;
}
.solicitar-servicio button{
  text-align:center;
  margin-left: 0rem;
  width: 14rem;
  height: 2.3rem;
  border-radius: 60px ;
  background-color:#38bd4e;
  color:#ffffff;
}


.check-vehiculo{
    margin: 0.5rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 0px ;
}
.check-chofer{
    margin: 0.5rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 0px ;
}
.cancelar-servicio button{
  text-align:center;
  margin-left: 0rem;
  width: 14rem;
  height: 2.3rem;
  border-radius: 60px ;
  background-color:#c43834;
  color:#ffffff;
}
.botones{
  text-align:center;
}