<router-recursos></router-recursos>

<div class="p-5">
  <table class="table">
    <thead>
      <tr>
        <th class="w150px">Marca</th>
        <th class="w150px">Tipo</th>
        <th class="w150px">Color</th>
        <th class="w100px">Placa</th>
        <th class="w50px">Año</th>
        <th class="w200px">Motor</th>
        <th class="w200px">
          <button class="btn bg-success text-white w-100" (click)="openCM(createModal)">Agregar</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of getVehiculos()">
          <td class="w150px">
            {{ vehiculo.nombreMarca }}
          </td>
          <td class="w150px">
            {{ vehiculo.nombreTipo }}
          </td>
          <td class="w150px">
            {{ vehiculo.nombreColor }}
          </td>
          <td class="w100px">
            {{ vehiculo.placa }}
          </td>
          <td class="w50px">
            {{ vehiculo.year }}
          </td>
          <td class="w200px">
            {{ vehiculo.motor }}
          </td>
          <td class="w200px">
              <a (click)="setActiveVehiculo(vehiculo); openDM(deleteModal)" class="pe-auto px-3">Eliminar</a>
              <button class="btn bg-primary text-white w-50" (click)="setActiveVehiculo(vehiculo); openVM(viewModal)">DETALLES</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group m-form__group">
            <label for="Marca">Marca</label>
            <select name="currentVehiculo.marca" [(ngModel)]="currentVehiculo.marca" class="form-control" required>
              <option [value]="marca.id" *ngFor="let marca of getMarcasVehiculo()">{{ marca.nombre }}</option>
            </select>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group m-form__group">
                  <label for="Tipo">Tipo</label>
                  <select name="currentVehiculo.tipo" [(ngModel)]="currentVehiculo.tipo" class="form-control" required>
                    <option [value]="tipo.id" *ngFor="let tipo of getTiposVehiculo()">{{ tipo.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-form__group">
                  <label for="Color">Color</label>
                  <select name="currentVehiculo.color" [(ngModel)]="currentVehiculo.color" class="form-control" required>
                    <option [value]="color.id" *ngFor="let color of getColores()">{{ color.nombre }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="Placa">Placa</label>
                  <input type="text" #Placa="ngModel" id="Placa" class="form-control" [(ngModel)]="currentVehiculo.placa" name="Placa" minlength="8"  maxlength="255" required/>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-form__group">
                  <label for="Year">Año</label>
                  <mat-form-field class="year-picker">
                    <input matInput
                          [matDatepicker]="datepicker"
                          [max]="_max"
                          [min]="_min"
                          [formControl]="_inputCtrl"
                          (click)="_openDatepickerOnClick(datepicker)"
                          (focus)="_openDatepickerOnFocus(datepicker)"
                          readonly>
                    <mat-datepicker #datepicker
                                    [touchUi]="touchUi"
                                    startView="multi-year"
                                    (yearSelected)="_yearSelectedHandler($event,datepicker)"
                                    panelClass="year-picker"
                                    class="cdk-overlay-container">
                    </mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Motor">Motor</label>
            <input type="text" #Motor="ngModel" id="Motor" class="form-control" [(ngModel)]="currentVehiculo.motor" name="Motor" minlength="1"  maxlength="255" required/>
          </div>
        </div>
        <div class="col">
          <div class="form-group m-form__group">
            <label for="Observaciones" class="pb-3">Observaciones</label>
            <textarea class="form-control" name="observaciones" id="observaciones" rows="5" [(ngModel)]="currentVehiculo.observaciones" required></textarea>
          </div>
          <div class="form-group m-form__group">
            <input #fileInput type="file" accept="image/*" class="fileInputDN" (change)="onFileSelected($event)">
            <div class="w-100">
              <button (click)="fileInput.click()" class="btn btn-secondary px-5 py-4"><i class="fas fa-camera"></i></button>
            </div>
            <a (click)="fileInput.click()" class="ffile pd-afile">Subir Foto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-success" (click)="modal.close(currentVehiculo)">Agregar</button>
    </div>
  </div>
</ng-template>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group m-form__group">
            <label for="Marca">Marca</label>
            <select name="currentVehiculo.marca" [(ngModel)]="currentVehiculo.marca" class="form-control" required>
              <option [value]="marca.id" *ngFor="let marca of getMarcasVehiculo()">{{ marca.nombre }}</option>
            </select>
          </div>
          <div class="form-group m-form__group">
            <label for="Tipo">Tipo</label>
            <select name="currentVehiculo.tipo" [(ngModel)]="currentVehiculo.tipo" class="form-control" required>
              <option [value]="tipo.id" *ngFor="let tipo of getTiposVehiculo()">{{ tipo.nombre }}</option>
            </select>
          </div>
          <div class="form-group m-form__group">
            <label for="Color">Color</label>
            <select name="currentVehiculo.color" [(ngModel)]="currentVehiculo.color" class="form-control" required>
              <option [value]="color.id" *ngFor="let color of getColores()">{{ color.nombre }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Placa">Placa</label>
            <input type="text" #Placa="ngModel" id="Placa" class="form-control" [(ngModel)]="currentVehiculo.placa" name="Placa" minlength="8"  maxlength="255" required/>
          </div>
          <div class="form-group m-form__group">
            <label for="Year">Año</label>
            <mat-form-field class="year-picker">
              <input matInput
                    [matDatepicker]="datepicker"
                    [max]="_max"
                    [min]="_min"
                    [formControl]="_inputCtrl"
                    (click)="_openDatepickerOnClick(datepicker)"
                    (focus)="_openDatepickerOnFocus(datepicker)"
                    readonly>
              <mat-datepicker #datepicker
                              [touchUi]="touchUi"
                              startView="multi-year"
                              (yearSelected)="_yearSelectedHandler($event,datepicker)"
                              panelClass="year-picker"
                              class="cdk-overlay-container">
              </mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="Motor">Motor</label>
            <input type="text" #Motor="ngModel" id="Motor" class="form-control" [(ngModel)]="currentVehiculo.motor" name="Motor" minlength="1"  maxlength="255" required/>
          </div>
        </div>
        <div class="col">
          <div class="form-group m-form__group">
            <label for="Observaciones" class="pb-3">Observaciones</label>
            <textarea class="form-control" name="observaciones" id="observaciones" rows="5" [(ngModel)]="currentVehiculo.observaciones" required></textarea>
          </div>
          <div class="form-group m-form__group">
            <input type="file" accept="image/*" (change)="onFileSelected($event)">
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-success" (click)="modal.close(currentVehiculo)">Guardar</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <h4 class="modal-title pt-3 pb-5" id="modal-basic-title">ELIMINAR RECURSO</h4>
    <label class="text-info pb-4">¿Está seguro de eliminar el recurso?</label>
    <div class="form-group pb-5">
      <label for="Observaciones" class="pb-3">Observaciones</label>
      <textarea class="form-control resized" name="observaciones" id="observaciones" [(ngModel)]="currentVehiculo.observaciones" required></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-sm btn-danger w-50" (click)="modal.close(currentVehiculo)">Eliminar</button>
    </div>
  </div>
</ng-template>

<ng-template #viewModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalles del Vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="form-group">
            <img src="#" alt="Vehiculo">
            <!-- {{ currentVehiculo.ruta_foto }} -->
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="VMarca" class="text-secondary">Marca:</label>
            <label for="Marca" class="px-2">{{ currentVehiculo.nombreMarca }}</label>
          </div>
          <div class="form-group">
            <label for="VTipo" class="text-secondary">Tipo:</label>
            <label for="Tipo" class="px-2">{{ currentVehiculo.nombreTipo }}</label>
          </div>
          <div class="form-group">
            <label for="VColor" class="text-secondary">Color:</label>
            <label for="Color" class="px-2">{{ currentVehiculo.nombreColor }}</label>
          </div>
          <div class="form-group">
            <label for="VPlaca" class="text-secondary">Placa:</label>
            <label for="Placa" class="px-2">{{ currentVehiculo.placa }}</label>
          </div>
          <div class="form-group">
            <label for="VYear" class="text-secondary">Año:</label>
            <label for="Year" class="px-2">{{ currentVehiculo.year }}</label>
          </div>
          <div class="form-group">
            <label for="VMotor" class="text-secondary">Motor:</label>
            <label for="Motor" class="px-2">{{ currentVehiculo.motor }}</label>
          </div>
          <div class="form-group">
            <label for="VObservaciones" class="text-secondary">Observaciones:</label>
            <label for="Observaciones" class="px-2">{{ currentVehiculo.observaciones }}</label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('edit'); openEM(editModal)"> Editar <i class="fas fa-edit"></i></button>
      </div>
    </div>
  </div>
</ng-template>
