<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tope bar bar-header">
    <span> 
    </span>
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png"></ion-img>
    </div>
  </div>

  <div class="titulo">
    <h4>MI PERFIL</h4>
  </div>

  <span class="circle-grey">
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
    </div>
  </span>

  

	<div class="datos2">
    <ion-list>
     
      <!--ion-item lines="full">
        <ion-label>
          Perfil
        </ion-label>
      </ion-item-->
    
    </ion-list>

    <ion-item>
      <ion-button slot="start">
        Start
      </ion-button>
      <ion-label>Button Start/End</ion-label>
      <ion-button slot="end">
        End
      </ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button slot="start">
        Start Icon
        <ion-icon name="home" slot="end"></ion-icon>
      </ion-button>
      <ion-label>Buttons with Icons</ion-label>
      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon>
        End Icon
      </ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button slot="start">
        <ion-icon slot="icon-only" name="navigate"></ion-icon>
      </ion-button>
      <ion-label>Icon only Buttons</ion-label>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-item>
    </div>


 

</ion-content>

