.tope span{
    width:100%;
   position:absolute;
   left:0;
   background-color:#dadde0;
   height:26px;
   top:80px;
}

.logosepro ion-img{
    padding-left: 0px;
    display:block;
    position:absolute;
    margin-left: 100px;
}


.datosperfilhome{
    margin-top: 40%;
    .gridperfil{
        .logo{
            margin:auto;
            width: 50%;
        }  
        .bienvenido{
            color: #bf1a24;
            font-weight: bold;
            font-family: 'BebasBold';
            font-size: x-large;
        }
        .user{
            font-family: 'BebasRegular';
            font-stretch: narrower;
            
        }
    }
}

.opcionesperfil{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    ion-item{
        justify-content: space-between;

        ion-icon{
            margin-right: 10%;
            color: black;
        }

        ion-label{
            font-family: 'BebasBold';
           font-size: x-large;
        }
    }
}

ion-content{
    
}