<ion-header>
  
</ion-header>

<ion-content>
  <div class="tope">
    <span>
      
    </span>
    
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png"></ion-img>
    </div>
  </div>


  

  <span class="circle-grey">
    <h4>Mi perfil</h4>
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
</div>
  </span>



	<div class="datos2">
    <ion-list>
      <ion-label>Nombres</ion-label>
        <ion-item class="nombres">  
          <ion-label>Hayleen</ion-label>
        </ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-item class="apellidos">  
          <ion-label>Carrillo</ion-label>
        </ion-item>
        <ion-label>Cédula de identidad</ion-label>
        <ion-item class="cedula">  
          <ion-label>1234567890</ion-label>
        </ion-item>

        <ion-label>Número de celular</ion-label>
        <ion-item class="celular">  
          <ion-label>1234567890</ion-label>
        </ion-item>
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-item class="fecha">  
          <ion-label>10/29/1999</ion-label>
        </ion-item>

        <ion-label>Dirección</ion-label>
        <ion-item class="direccion">  
          <ion-label>Espol</ion-label>
        </ion-item>
        <ion-label>Correo electrónico</ion-label>
        <ion-item class="correo">  
          <ion-label>hicc@espol.edu.ec</ion-label>
        </ion-item>

    </ion-list>
    </div>


  <div class="botones">
      <button ion-button color="secondary" (click)="editar()">Editar</button>
    </div>


</ion-content>
