<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tope bar bar-header">
    <span> 
    </span>
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png"></ion-img>
    </div>
  </div>

  <div class="titulo">
    <h4>MI PERFIL</h4>
  </div>

  <span class="circle-grey">
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
    </div>
  </span>

  

	<div class="datos2">
    <ion-list>
      <ion-label class= "fijo">Nombres</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>Hayleen</ion-label>
        </ion-chip>
        
        <ion-label class= "fijo">Apellidos</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>Carrillo</ion-label>
        </ion-chip>

        <ion-label class= "fijo">Cédula de identidad</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>1234567890</ion-label>
        </ion-chip>

        <ion-label class= "fijo">Número de celular</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>0912345678</ion-label>
        </ion-chip>

        <ion-label class= "fijo">Fecha de nacimiento</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>12/31/1999</ion-label>
        </ion-chip>

        <ion-label class= "fijo">Dirección</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>Espol</ion-label>
        </ion-chip>

        <ion-label class= "fijo">Correo electrónico</ion-label>
        <ion-chip outline color="dark" disabled = true>
          <ion-label>hicc@espol.edu.ec</ion-label>
        </ion-chip>

    </ion-list>
    </div>


  <div class="botones">
      <button ion-button color="secondary" (click)="editar()">Editar</button>
    </div>

</ion-content>
