.datos2{
    margin: 1rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 2px ;
    margin-top: 30%;
    justify-items:center;
    justify-content: space-between;
}

.tope span{
    width:100%;
   position:absolute;
   left:0;
   background-color:#dadde0;
   height:26px;
   top:80px;
}

.logosepro ion-img{
    padding-left: 0px;
    display:block;
    position:absolute;
    margin-left: 100px;
}

div h4{
    font-weight: bold;
    color:#912020;
    text-align: center;
    margin-top: 40%;
}


span.circle-grey {
    position:absolute;
    width:5rem;
    height:5rem;
    border-radius: 50%;
    margin:auto;
    top: 28%; left: 0; bottom: 10; right: 0;
}

.botones button{
    text-align:center;
    margin-left: 30%;
    width: 10rem;
    height: 2.3rem;
    border-radius: 60px ;
    background-color:#3887bd;
    color:#ffffff;
}


.datos2 ion-card{
  display: flex;
  text-align: center;
  width: auto;
  height: 20rem;
}


.datos2 ion-chip{
    width: 95%;
}



.logo{
    display:block;
   margin:auto;
    
}
