
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Log In Phone</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding">
  <div>

    <div id="sign-in-button"></div>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="../../assets/app sepro vectores-30.png" class="img-logo">
            <ion-text class="ion-padding">
              <h2 class="ion-no-margin ion-margin-vertical ion-text-center">Seproamerica</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-grid class="phoneAuthGrid">
          <ion-row>
            <ion-col >
              <ion-select class="phoneCountry" value="brown" okText="Okay" cancelText="Dismiss"
                (ionChange)="countryCodeChange($event)" [value]="countryCode">
                <ion-select-option *ngFor="let country of countryJson" value={{country.dialCode}}>
                  {{country.dialCode + ' ' + country.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="8">
              <ion-input clearInput type="test" placeholder="Your Contact Number" [(ngModel)]="phoneNo"
                class="input ion-padding-horizontal" clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button  (click)="signinWithPhoneNumber($event)">
                Ingresar con número de celular</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>



  </div>
</ion-content>
