<ion-header>
  <ion-toolbar>
    <ion-title>guardia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <IonItem>
    <IonLabel>Fecha de Inicio</IonLabel>
    <ion-datetime placeholder="seleccione"></ion-datetime>
  </IonItem>
  <IonItem>
    <IonLabel>Hora de Inicio</IonLabel>
    <ion-datetime placeholder="Seleccione" displayFormat="hh-mm-A"></ion-datetime>
  </IonItem>
  
  <IonItem>
    <IonLabel>Fecha de Finalizacion</IonLabel>
    <ion-datetime placeholder="Seleccione"></ion-datetime>
  </IonItem>
  <IonItem>
    <IonLabel>Hora de Finalizacion</IonLabel>
    <ion-datetime placeholder="Seleccione" displayFormat="hh-mm-A"></ion-datetime>
  </IonItem>
  <IonLabel>Elegir ubicación</IonLabel>
  <button ion-button color="secondary">Abrir mapa</button>

 


</ion-content>
