ion-content{
  --background: none;
  background-image: url("../../assets/img/app\ sepro\ vectores-24.png");
}
.logo{
  margin-bottom: 5rem;
  margin-top: 2rem;
}
ion-text{

  font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
ion-input{
  background-color: white;
  color: black;
  border-radius: 25rem;
  width: 75%;
  margin-left: 3rem;
}

ion-button{
  --background: none;
  background-color: #3da630;
  width: 15rem;
  border-radius: 25rem;
  margin-top: 10rem;
  margin-left: 3rem;
}

a{
  text-decoration: none;
  color: white;
}
