
  <ion-content class="ion-no-padding background">
  <div>


        <ion-row class="row logo">
          <div>
            <img src="../../assets/app sepro vectores-30.png" class="img-logo">
          </div>
        </ion-row>
        <ion-grid  class="ion-align-items-center contenido-center">
          <ion-col >
            <ion-text class="ion-padding">
              <h2 class="ion-no-margin ion-text-center">Ingrese número de celular</h2>
            </ion-text>
          </ion-col>
          <ion-col >
            <ion-input clearInput type="test" placeholder="Número"
            class="input ion-padding-horizontal" clear-input="true"></ion-input>
          </ion-col>

          <ion-col >
            <ion-button>Ingresar</ion-button>
          </ion-col>
         <!-- <ion-col >
            <a href="#">omitir registro</a>
          </ion-col>-->
        </ion-grid>



  </div>
</ion-content>
