<!--<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!--<a href="#" class="navbar-brand">Administración</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="recursos" class="nav-link">Recursos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>-->

<div class="container">
  <form>
    <div class="d-flex align-items-center justify-content-center flex-column" style="height: 500px">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input [formControl]="usernameField" type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input [formControl]="passwordField" type="password" class="form-control rounded-pill" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary rounded-pill" style="width: 230px;" (click)="authUser()">Ingresar</button>
      </div>
    </div>
  </form>
</div>

